{% extends "/security/base.html" %}
{% block title %}Forms Answers{% endblock %}
{% block main_title %}Form Answers{% endblock %}

{% block libs%}<script src="/static/js/chart.js/dist/chart.js"></script>{%endblock%}

{% block content %}

    <!--Header Page-->
    <div class="container">
        <h1>Welcome {{user.name}}</h1>
        <h4>This is the answer list of the form: {{form.name}}</h4><br>
        <h6>Number of people who have filled out the form: {{total_answers}}</h6>
    </div>


    <div class="container">
        <!--For all the question in the form:
                                    - display the text of the current question
                                    - loop all the answers of the form finding the list of the answers of the current question
                                    - show username and the content of the answers in a list
                                    - if the current question is multiple or single
                                        show a graph (bar or pie)-->
        {% for q in form.questions %}

            <h5>{{q.text}}</h5>
            {% for a, f in answers%}
                {% if a.question_id == q.id%}
                    <li style="margin-bottom: 0.5rem">
                        <b>Username: {{a.user.username}}</b>&nbsp;&nbsp;&nbsp;&nbsp;
                        {% for t in a.text %}
                            {{t.content}}; &nbsp;&nbsp;&nbsp;&nbsp;
                        {% endfor %}
                        {%if f.id is defined%}
                            <a href="/form/answers/{{a.id}}" target="_blank">
                                <button type="button" class="btn btn-green">View File</button>
                            </a>
                        {%endif%}
                    </li>

                {% endif %}
            {% endfor %}

            {% if q.single %}
                <canvas id={{q.id}} width="300" height="300"></canvas>
                <span id="error{{q.id}}"></span>

                <script>
                    var ctx = document.getElementById( {{q.id}} ).getContext("2d");

                    /*Variable for every possible answers*/
                    {% for q1 in q.single %}
                        {% for x in q1.possible_answers %}
                            //Creating "legit" variable name
                            var _{% for c in x.content %}{% if (c >= 'A' and c <= 'z') or (c >= '0' and c <= '9') %}{{c}}{% endif %}{% endfor %} = 0
                        {% endfor %}
                    {% endfor %}

                    /*incremting variable for every answer*/
                    {% for a, f in answers%}
                        {% if a.question_id == q.id%}
                            {% for t in a.text %}
                                _{% for c in t.content %}{% if (c >= 'A' and c <= 'z') or (c >= '0' and c <= '9') %}{{c}}{% endif %}{% endfor %}++;
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    if({% for q1 in q.single %}{% for x in q1.possible_answers %}_{% for c in x.content %}{% if (c >= 'A' and c <= 'z') or (c >= '0' and c <= '9') %}{{c}}{% endif %}{% endfor %}==0 && {% endfor %}{% endfor %}true)
                    {
                        var elem = document. getElementById("{{q.id}}");
                        elem.parentNode.removeChild(elem);
                        document.getElementById("error{{q.id}}").innerHTML="<p>There are not answers yet</p>";
                    }
                    else
                    {
                        /*Building the graphs*/
                        var myChart = new Chart(ctx, {
                            type: 'doughnut',
                            data: {
                                /*labels: content of possible_asnwers*/
                                labels: [{% for q1 in q.single %}{% for x in q1.possible_answers %}'{{x.content}}', {% endfor %}{% endfor %}],
                                datasets: [{
                                    label: '{{q.text}}',
                                    /*we use the variables*/
                                    data: [{% for q1 in q.single %}{% for x in q1.possible_answers %}_{% for c in x.content %}{% if (c >= 'A' and c <= 'z') or (c >= '0' and c <= '9') %}{{c}}{% endif %}{% endfor %}, {% endfor %}{% endfor %}],
                                    borderWidth: 1,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.4)',
                                        'rgba(54, 162, 235, 0.4)',
                                        'rgba(255, 206, 86, 0.4)',
                                        'rgba(75, 192, 192, 0.4)',
                                        'rgba(153, 102, 255, 0.4)',
                                        'rgba(255, 159, 64, 0.4)',
                                        'rgba(238, 130, 238, 0.4)'
                                    ]
                                }]
                            },
                            options: {
                                responsive: false,
                                maintainAspectRatio: false
                            }
                        });
                    }
                </script>
            {% endif %}

            {% if q.multiple_choice %}
                <canvas id={{q.id}} width="300" height="300"></canvas>
                <span id="error{{q.id}}"></span>

                <script>
                    var ctx = document.getElementById( {{q.id}} ).getContext("2d");

                    /*Variable for every possible answers*/
                    {% for q1 in q.multiple_choice %}
                        {% for x in q1.possible_answers %}
                            //Creating "legit" variable name
                            var _{% for c in x.content %}{% if (c >= 'A' and c <= 'z') or (c >= '0' and c <= '9') %}{{c}}{% endif %}{% endfor %} = 0
                        {% endfor %}
                    {% endfor %}

                    /*incremting variable for every answer*/
                    {% for a,f in answers%}
                        {% if a.question_id == q.id%}
                            {% for t in a.text %}
                                _{% for c in t.content %}{% if (c >= 'A' and c <= 'z') or (c >= '0' and c <= '9') %}{{c}}{% endif %}{% endfor %}++;
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    if({% for q1 in q.multiple_choice %}{% for x in q1.possible_answers %}_{% for c in x.content %}{% if (c >= 'A' and c <= 'z') or (c >= '0' and c <= '9') %}{{c}}{% endif %}{% endfor %}==0 && {% endfor %}{% endfor %}true)
                    {
                        var elem = document. getElementById("{{q.id}}");
                        elem.parentNode.removeChild(elem);
                        document.getElementById("error{{q.id}}").innerHTML="<p>There are not answers yet</p>";
                    }
                    else
                    {
                        /*Building the graphs*/
                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                /*labels: content of possible_asnwers*/
                                labels: [{% for q1 in q.multiple_choice %}{% for x in q1.possible_answers %}'{{x.content}}', {% endfor %}{% endfor %}],
                                datasets: [{
                                    label: '{{q.text}}',
                                    /*we use the variables*/
                                    data: [{% for q1 in q.multiple_choice %}{% for x in q1.possible_answers %}_{% for c in x.content %}{% if (c >= 'A' and c <= 'z') or (c >= '0' and c <= '9') %}{{c}}{% endif %}{% endfor %}, {% endfor %}{% endfor %}],
                                    borderWidth: 1,
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.4)',
                                        'rgba(54, 162, 235, 0.4)',
                                        'rgba(255, 206, 86, 0.4)',
                                        'rgba(75, 192, 192, 0.4)',
                                        'rgba(153, 102, 255, 0.4)',
                                        'rgba(255, 159, 64, 0.4)',
                                        'rgba(238, 130, 238, 0.4)'
                                    ]
                                }]
                            },
                            options: {
                                responsive: false,
                                maintainAspectRatio: false,
                                /*in this type of graphs we remove the coulerd box of the title*/
                                plugins: {
                                    legend: {
                                        labels: {
                                            boxWidth: 0,
                                        }
                                    }
                                }
                            }
                        });
                    }
                </script>
            {% endif %}

            <br><br>
        {% endfor %}
        <br><br>
        <a href="download_csv" target="_blank"><button class="btn btn-primary">DOWNLOAD CSV</button></a>

    </div>
    <br><br><br>
{% endblock %}