{% extends "/security/base.html" %}
{% block title %}Forms Answers{% endblock %}

{% block content %}
    <!--INTERACTIVE FORM EDITING:
        Possible Answers -> number and content of possible answers -> Submit
        Question-> Import -> Choose Tag -> Choose question -> Show preview question -> Submit
        Question-> Not Import -> Choose Tag -> Eventually create Tag -> Type question -> Text Question -> Eventually number and content of possible answers -> Submit

        ADD:
        Import -> Choose Tag -> Choose question -> Show preview question -> Submit
        Not Import -> Choose Tag -> Eventually create Tag -> Type question -> Text Question -> Eventually number and content of possible answers -> Submit
    -->
    <form name="import_choose" action="#" method="POST">
        <div class="container">

            {%if edit%}
                <p><b>The current question is:</b><br>{{q.text}}</p>

                {% if q.single %}
                    {% for q1 in q.single%}
                    <ul>
                        {% for a in q1.possible_answers%}
                            <li >{{a.content}}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}

                {% elif q.multiple_choice %}
                    {% for q1 in q.multiple_choice%}
                    <ul type="square">
                        {% for a in q1.possible_answers%}
                            <li >{{a.content}}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                {% endif %}
                <br>
            {%endif%}

            {% if not edit or q.open%}
                <h3>Would you like to import some existing questions?</h3>
                <label>
                    <select name="choose" class="form-select" onChange="select_tag(this)">
                        <option value="" selected> </option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </label>

            {% elif q.multiple_choice or q.single %}
                <h3>What would you like to change?</h3>
                <label>
                    <select name="change" class="form-select" onChange="check(this)">
                        <option value="" selected> </option>
                        <option value="question">Question</option>
                        <option value="possible_a">Possible Answers</option>
                    </select>
                </label>
            {% endif %}

            <span id="mand">
                <h3>Would this question be mandatory?</h3>
                    <input type="checkbox" class="form-check-input" style="padding: 1rem;" name="mandatory" {%if mand%}checked{%endif%}>
                <br><br>
            </span>

            <span id="edit"></span>

            <span id="select tag"></span>

            <span id="new tag"></span>

            <span id ="question type"></span>

            <span id="insert question"></span>

            <span id="insert file"></span>

            <span id ="show question"></span>

            <span id="insert possibile answers"></span>

            <span id="submit">

            </span>
        </div>
    </form>


    	<script type='text/javascript'>
            /*import*/
            let v_choose = null;

            /*number of possible answers*/
            let n = 0;
            
            /*import questions?, or number possible answers*/
            function check(c) {
                n = 0;
                const v_c = c.value;
                const box = document.getElementById('edit');
                document.getElementById('select tag').innerHTML = '';
                document.getElementById('new tag').innerHTML = '';
                document.getElementById('question type').innerHTML = '';
                document.getElementById('insert question').innerHTML = '';
                document.getElementById('insert file').innerHTML = '';
                document.getElementById('show question').innerHTML = '';
                document.getElementById('insert possibile answers').innerHTML = '';
                document.getElementById('submit').innerHTML = '';
                box.innerHTML = '';

                if (v_c === "question") {
                    box.innerHTML = '<h3>Would you like to import some existing questions?</h3>\n' +
                        '                <label>\n' +
                        '                    <select name="choose" class="form-select" onChange="select_tag(this)">\n' +
                        '                        <option value="" selected> </option>\n' +
                        '                        <option value=yes>Yes</option>\n' +
                        '                        <option value="no">No</option>\n' +
                        '                    </select>\n' +
                        '                </label>'
                } else if(v_c === "possible_a") {
                    box.innerHTML = '<h3>How many possible answers do you want to put?</h3>\n' +
                            '        <input id="n" type="text" class="form-control" name="number_answers" value="{{number}}" onkeyup="possible_asnwers(this)"><br><br>';

                    /*necessary to create submit button e possible answers*/
                    possible_asnwers(document.getElementById('n'))
                    submit_f(document.getElementById('n'))
                }
            }

            /*select possible tag*/
            function select_tag(choose) {
                v_choose = choose.value;
                const box = document.getElementById('select tag');
                document.getElementById('new tag').innerHTML = '';
                document.getElementById('question type').innerHTML = '';
                document.getElementById('insert question').innerHTML = '';
                document.getElementById('insert file').innerHTML = '';
                document.getElementById('show question').innerHTML = '';
                document.getElementById('insert possibile answers').innerHTML = '';
                document.getElementById('submit').innerHTML = '';
                box.innerHTML = '';

                if (v_choose === "yes") {
                    box.innerHTML = '<h3>Select the question tag argument</h3>' +
                        '<select name="tag_choose" class="form-select" onChange="insert_question(this)">\n' +
                        '                <option value="" selected> </option>\n' +
                        '                {% for t in tags %}\n' +
                        '                <option value="{{t.argument}}">{{t.argument}}</option>\n' +
                        '                {% endfor %}\n' +
                        '            </select>';
                } else if(v_choose === "no") {
                    box.innerHTML = '<h3>Select the question tag argument (or select multiple with ctrl/cmd)</h3>' +
                        '<select name="tag_choose" class="form-select" onChange="new_tag(this); question_type(this)" multiple style="height: 8rem;">\n' +
                        '                <option value="" selected> </option>\n' +
                        '                {% for t in tags %}\n' +
                        '                <option value="{{t.id}}">{{t.argument}}</option>\n' +
                        '                {% endfor %}\n' +
                        '                <option id="new" value="new">New Argument</option>\n' +
                        '            </select>';
                }
            }

            /*if new tag*/
            function new_tag(tag_choose) {

                const box = document.getElementById('new tag');
                document.getElementById('question type').innerHTML = '';
                document.getElementById('insert question').innerHTML = '';
                document.getElementById('insert file').innerHTML = '';
                document.getElementById('show question').innerHTML = '';
                document.getElementById('insert possibile answers').innerHTML = '';
                document.getElementById('submit').innerHTML = '';
                box.innerHTML = '';

                if(document.getElementById('new').selected){
                        box.innerHTML = '<h3>Insert the new tag argument</h3>' +
                                '<input type="text" class="form-control" name="tag_added"><br><br>';
                }
            }

            /*not import--> type of the question*/
            function question_type(val) {
                const box = document.getElementById('question type');
                document.getElementById('insert question').innerHTML = '';
                document.getElementById('insert file').innerHTML = '';
                document.getElementById('show question').innerHTML = '';
                document.getElementById('insert possibile answers').innerHTML = '';
                document.getElementById('submit').innerHTML = '';
                box.innerHTML = '';

                if (v_choose === "no" && val.value !== "") {
                    box.innerHTML = '<h3>Select a question type</h3>' +
                        '<label>\n' +
                        '                <select name="question_type" class="form-select" onChange="insert_question(this)">\n' +
                        '                    <option value="" selected> </option>\n' +
                        '                    <option value="open">Open</option>\n' +
                        '                    <option value="single">Single</option>\n' +
                        '                    <option value="multiple_choice">Multiple choice</option>\n' +
                        '                </select>\n' +
                        '            </label>';
                } else {
                    box.innerHTML = '';
                }
            }

            /*import--> choose question
            * not import--> text question + eventually possible answers*/
            function insert_question(type) {
                const box = document.getElementById('insert question');
                document.getElementById('insert file').innerHTML = '';
                document.getElementById('show question').innerHTML = '';
                document.getElementById('insert possibile answers').innerHTML = '';
                document.getElementById('submit').innerHTML = '';
                box.innerHTML='';

                if (v_choose === "no" && type.value !== "") {
                    let tipo = type.value;
                    if(tipo === 'open')
                        box.innerHTML = '<h3>Insert the question text</h3>' +
                        '<input type="text" class="form-control" name="text_question" onKeyUp="insert_file(); submit_f(this)"><br><br>';
                    if(tipo === 'single' || tipo === 'multiple_choice'){
                        box.innerHTML = '<h3>Insert the question text</h3>\n' +
                            '            <input type="text" class="form-control" name="text_question"><br><br>' +
                            '            <h3>How many possible answers do you want to put?</h3>' +
                            '            <input type="text" class="form-control" name="number_answers" onKeyUp="possible_asnwers(this); submit_f(this)"><br><br>';
                    }
                } else if(v_choose === "yes" && type.value !== ""){
                    const tag = type.value;
                    let str = '<h3>Select the question</h3>' +
                        '<select name="question_choose" class="form-select" onChange="show_question(this); submit_f(this)">\n' +
                        '<option value="" selected> </option>\n';

                    {% for t in tags %}
                        if( '{{t.argument}}' === tag){
                            {% for q1 in t.questions %}
                                    {%if (edit and q1.id == q.id) or (q1 not in form.questions)%}
                                        str +='<option value="{{q1.id}}">{{q1.text}}</option>\n';
                                    {% endif %}

                            {% endfor %}
                        }
                    {% endfor %}

                    str +='</select>';

                    box.innerHTML = str;
                }

            }
            /*insert or not a file*/
            function insert_file(){
                const box = document.getElementById('insert file');
                document.getElementById('show question').innerHTML = '';
                document.getElementById('insert possibile answers').innerHTML = '';
                document.getElementById('submit').innerHTML = '';
                box.innerHTML='';

                let str = '<h3>Would you like to allow the possibility to add files for this question?</h3>' +
                        '<select class="form-select" name="file_choose">\n' +
                        '<option value="no" selected>No</option>\n'+
                        '<option value="si">Yes</option>\n'+
                        '</select>';

                box.innerHTML = str;
            }


            /*import--> show question*/
            function show_question(id) {
                const id_q = id.value;

                const box = document.getElementById('show question');
                document.getElementById('insert possibile answers').innerHTML = '';
                document.getElementById('submit').innerHTML = '';
                box.innerHTML=''

                {% for q in questions %}
                    if({{q.id}} == id_q){
                        box.innerHTML = '<p><b>Question Peview:</b><br>{{q.text}}</p>\n'+
                        '            {% if q.single %}\n' +
                        '                {% for q1 in q.single%}\n'+
                        '                    <ul>\n' +
                        '                    {% for a in q1.possible_answers%}\n' +
                        '                        <li >{{a.content}}</li>\n' +
                        '                    {% endfor %}\n' +
                        '                    </ul>\n' +
                        '                {% endfor %}\n' +
                        '            {% elif q.multiple_choice %}\n' +
                        '                {% for q1 in q.multiple_choice%}\n' +
                        '                    <ul type="square">\n' +
                        '                    {% for a in q1.possible_answers%}\n' +
                        '                        <li >{{a.content}}</li>\n' +
                        '                    {% endfor %}\n' +
                        '                    </ul>\n' +
                        '                {% endfor %}\n' +
                        '            {% endif %}\n' +
                            '<br>';
                    }
                {% endfor %}
            }

            /*edit--> show previous possibile answers
              add--> show input text for n possible answers*/
            function possible_asnwers(number) {
                const v_number = number.value;
                const box = document.getElementById('insert possibile answers');
                document.getElementById('submit').innerHTML = '';
                box.innerHTML=''

                if(isNaN(v_number)===true){
                    box.innerHTML='';
                }else{
                    let righe = "";
                    let i = 1;
                    {% if edit %}
                        {% if q.single %}
                            {% for q1 in q.single%}
                                {% for a in q1.possible_answers%}
                                    if(i<=v_number) {
                                        righe = righe + "Risposta n° " + i + " : <input onchange='submit_f(this)' class = 'form-control' type='text' value='{{a.content}}' id='" + i + "' name='" + i + "'/><br/>";
                                        i++;
                                    }
                                {% endfor %}
                            {% endfor %}
                        {% elif q.multiple_choice %}
                            {% for q1 in q.multiple_choice%}
                                {% for a in q1.possible_answers%}
                                    if(i<=v_number) {
                                        righe = righe + "Risposta n° " + i + " : <input onchange='submit_f(this)' class = 'form-control' type='text' value='{{a.content}}' id='" + i + "' name='" + i + "'/><br/>";
                                        i++;
                                    }
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    for(i; i<=v_number; i++){
                        righe = righe + "Risposta n° "+i+" : <input onchange='submit_f(this)' class = 'form-control' type='text' id='" + i + "' name='"+i+"'/><br/>";
                    }
                    n = v_number
                    box.innerHTML=righe;
                }
            }




            /*checking possibile answer--> necessary for the correct behaviour of chart.js in form_anwers.html*/
            function submit_f(val) {
                const box = document.getElementById('submit');
                box.innerHTML = '';

                /*Function that returns duplicates of an array*/
                let findDuplicates = arr => arr.filter((item, index) => arr.indexOf(item) !== index)

                /*array that contains possible answers without spaces and symbols*/
                let vett = new Array(n);
                vett[0]='*'

                for(let i=1; i<=n; i++){
                    let campo = document.getElementById(i.toString()).value
                    vett[i]='';

                    /*if we find a possibile answers blank*/
                    if(campo === "" ) {
                        box.innerHTML = '<h5>You cannot put blank anwers</h5>'
                        return;
                    }

                    /*if we find an answers with no number and no letter*/
                    let find = false;
                    let k = campo.length;
                    while ((k--)) {
                      if(( campo.charAt(k) >= 'A' && campo.charAt(k) <= 'z') ||( campo.charAt(k) >= '0' && campo.charAt(k) <= '9')) {
                          find = true;
                          vett[i] += campo.charAt(k);
                      }
                    }

                    if(!find){
                        box.innerHTML = '<h5>Each possible answers must have at least one letter or number</h5>'
                        return;
                    }

                }

                /*if we find a duplicate of a possible answers*/
                if(findDuplicates(vett).length !== 0){
                    box.innerHTML = '<h5>Cannot exists two answers with the same letters and numbers excluding spaces and symbols</h5>'
                    return;
                }

                if (val.value !== "")
                    box.innerHTML = '<input type="submit" value="Submit" class="btn btn-primary"><br><br>'
            }


        </script>

{% endblock %}